*,*::before,*::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

%pos-abs-tl{
  position: absolute;
  top: 0;
  left: 0;
}

.header{
  padding: 0 15px;
}

.header .holdings{
  display: flex;
  justify-content: space-between;
  padding: 8px 16px;
}

