*, *::after, *::before{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  -webkit-tap-highlight-color: transparent;
}

a{
  -webkit-tap-highlight-color: transparent;
}

h1,
h2,
h3,
h4{
  margin: 0;
  pointer-events: none;
}

p{
  margin: 0;
  pointer-events: none;
}

*:focus, *:active{
  outline: none;
}


button,
article,
aside,
section,
header,
footer,
main
{
  margin: 0;
}