.skills-section .container-topBottom {
  overflow: hidden;
}

.skills-section h3 {
  font-size: 35px;
  font-family: 'Roboto';
  font-weight: 700 !important;
  text-align: center;
  margin: 0 0 16px;
  line-height: 33px;
  color: #434e5e;
}

.skills-section .sectionIntroText {
  font-family: 'Roboto';
  font-size: 18px;
  color: #58677C;
  line-height: 24px;
  font-weight: 400;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: justify;
  text-align-last: center;
  letter-spacing: -0.3px;

  @include for-size(tablet-landscape-up) {
    margin: 0 125px 48px;

    & p {
      margin: 0 auto;
    }
  }

  @include for-size(desktop-up) {
    margin: 0 125px 48px;

    & p {
      margin: 0 auto;
      max-width: 80%;
    }
  }

  @include for-size(big-desktop-up) {

    & p {
      margin: 0 ;
      max-width: 100%;
    }
  }
}


//for a tag
.sectionIntroText a {
  color: #41A4F5;
  text-decoration: none;
  background-color: transparent;
  transition: 0.6s;

  &:hover {
    text-decoration: underline;
  }
}









//useless css
.sectionSkillBlock {
  padding: 48px 0 0;

  & .row {
    display: flex;
    width: 100%;
    // flex-wrap: wrap;
    @include for-size(phone-only){
      flex-wrap: wrap;
    }

    @include for-size(tablet-portrait-up){
      flex-wrap: wrap;
    }

    @include for-size(tablet-landscape-up){
      flex-wrap: wrap;
    }

    @include for-size(desktop-up){
      flex-wrap: nowrap;
    }
  }
}