@import './default';

.section1{
  padding: 3rem 0 !important;
  background-color: #f0f0f0;
  overflow: hidden;

  & .container{
    margin: 0 100px;
    padding: 0 15px;

    & h3{
      font-size: 35px;
      font-family: 'Roboto';
      font-weight: 700 !important;
      text-align: center;
      margin: 0 0 16px;
      line-height: 33px;
      color: #434e5e;
    }

    & .sectionIntroText{
      font-family: 'Roboto';
      margin: 0 125px 48px;
      font-size: 18px;
      color: #58677C;
      line-height: 24px;
      font-weight: 400;
      display: inline-flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: justify;
      text-align-last: center;
      letter-spacing: -0.3px;

      & a{
        color: #41A4F5;
        text-decoration: none;
        background-color: transparent;
        transition: 0.6s;

        &:hover{
          text-decoration: underline;
        }
      }
    }

    & .sectionSkillBlock{
      padding: 48px 0 0;

      & .row{
        display: flex;
        width: 100%;
        // flex-wrap: wrap;

        & .Card{
          position: relative;
          width: 100%;
          padding-right: 15px;
          padding-left: 15px; 

          & .skillData{
            padding: 1.5rem 3rem;
            box-shadow: 0 0.125rem 0.25rem rgba(0,0,0,0.075) !important;
            background-color: white;
            cursor: pointer;


            & h4{
              font-family: 'Roboto';
              font-size: 20px;
              margin: 48px 0 16px;
              text-align: center;
              font-weight: 500;
              line-height: 24px;
            }

            & .skillIcon{
              position: absolute;
              top: -15%;
              left: 39%;
              width: 80px;
              height: 80px;
              border-radius: 50%;
              background: #41A4F5;

              & img{
                position: relative;
                transform: translate(41%, 54%);
              }
            }

            & .skillList{
              margin: 0 0 1rem 0;

              & li{
                display: flex;
                align-items: center;
                margin: 0 0 8px 0;
                line-height: 24px;
                font-family: 'Roboto';
                font-weight: 400;
                font-size: 20px;

                & svg{
                  margin-right: 8px;
                  width: 1em;
                  color: #41A4F5;
                }
              }
            }
          }
        }
      }
    }
  }
}


/*Mobile responsive code*/

@media(max-width: 1024px){
  .section1{
    & .container{
      margin: 0 10px;
      
      & .sectionIntroText{
        margin: 0 10px 30px;
      }

      & .sectionSkillBlock{
        & .row{
          max-width: 350px;

          & .Card{
            margin-bottom: 3.5rem;
            padding-left: 0;
            & .skillData{

              & .skillIcon{
                top: -15%;
                left: 39%;
              }
            }
          }
        }
      }
    }
  }
}



@media(max-width: 768px){
  .section1{
    & .container{
      margin: auto;
      
      & .sectionIntroText{
        margin: 0 10px 30px;
        text-align: justify;
        text-align-last: center;
        letter-spacing: -0.3px;
      }

      & .sectionSkillBlock{
        & .row{
          flex-wrap: wrap;
          max-width: 740px;

          & .Card{
            margin-bottom: 3.5rem;
            padding-right: 0;

            & .skillData{

              & .skillIcon{
                top: -15%;
                left: 44%;
              }
            }
          }
        }
      }
    }
  }
}

@media(max-width: 411px){
  .section1{
    & .container{
      margin: auto;

      & .sectionIntroText{
        margin: 0 0 10px;
      }

      & .sectionSkillBlock{
        & .row{
          max-width: 380px;

          & .Card{
            margin-bottom: 3.5rem;
            padding: 0;

            & .skillData{

              & .skillIcon{
                top: -15%;
                left: 39%;
              }
            }
          }
        }
      }
    }
  }
}

@media(max-width: 414px){
  .section1{
    & .container{
      margin: auto;

      & .sectionIntroText{
        margin: 0 0 10px;
      }

      & .sectionSkillBlock{
        & .row{
          max-width: 380px;

          & .Card{
            margin-bottom: 3.5rem;
            padding: 0;

            & .skillData{

              & .skillIcon{
                top: -15%;
                left: 39%;
              }

              & .skillList{
                & li{
                  font-size: 1.2rem;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media(max-width: 375px){
  .section1{
    & .container{
      margin: auto;

      & .sectionIntroText{
        margin: 0 0 10px;
      }

      & .sectionSkillBlock{
        & .row{
          flex-wrap: wrap;
          max-width: 345px;

          & .Card{
            margin-bottom: 3.5rem;
            padding: 0;

            & .skillData{

              & .skillIcon{
                top: -15%;
                left: 38%;
              }
            }
          }
        }
      }
    }
  }
}

@media(max-width: 360px){
  .section1{
    & .container{
      margin: auto;

      & .sectionIntroText{
        margin: 0 0 10px;
      }

      & .sectionSkillBlock{
        & .row{
          flex-wrap: wrap;
          max-width: 350px;

          & .Card{
            margin-bottom: 3.5rem;
            padding: 0;

            & .skillData{

              & .skillIcon{
                top: -15%;
                left: 38%;
              }
            }
          }
        }
      }
    }
  }
}

@media(max-width: 320px){
  .section1{
    & .container{
      margin: auto;

      & .sectionIntroText{
        margin: 0 0 10px;
        text-align: justify;
        text-align-last: center;
        letter-spacing: -0.3px;
      }

      & .sectionSkillBlock{
        & .row{
          flex-wrap: wrap;
          max-width: 290px;

          & .Card{
            margin-bottom: 3.5rem;
            padding: 0;

            & .skillData{
              padding: 1.5rem;

              & .skillIcon{
                top: -15%;
                left: 36%;
              }
            }
          }
        }
      }
    }
  }
}

@media(min-width: 1200px){
  .section1{
    & .container{
      margin: auto;
      max-width: 1050px;
    }
  }
}